      	
      	
      	<div id="footer" class="ftext" style="margin:0 auto; background-color:#0066b0;">
				<div align="left">
Copyright &copy; 2014 Affin Bank Berhad (25046-T) reserved. Use of the information on this page only and all contents on this website are governed by Malaysian law and are subject to the disclaimer which can be read on the disclaimer page. Affin Corporate Internet Banking (CIB) requires minimum Internet Explorer 8, Mozilla Firefox 13 or Google Chrome 19.
<!-- /footer -->
</div>
			</div>